/* Generic directives */
body {
	margin: 0;
	border: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #4d4d4d;
	background: url("../img/tweed.png") repeat;
}
a { text-decoration: none; }
nav ul {list-style: none;}
button, input[type=button], input[type=submit] {cursor:pointer;}
/* Specific directives */
#wrapper {
	min-width: 868px;
	max-width: 1024px;
	min-height: 15em;
	margin: 0 auto;
	position: relative;
	top: 2em;
}
	
header {
	height: 5em; width: 100%;
    position: relative;
    background: url("../img/creampaper.png") repeat;
}

#title {
	position: relative;
	left: 2em; top: 0.5em;
	height: 5em;
	min-width: 10em;
}

header nav {
	position: absolute;
	top: -1em;
	right: 0;
}

header nav ul {
	margin-left: 0;
	margin-right: 0;
}

header nav ul li {
    display: inline-block;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}
	
header nav ul li a {
    font-family: 'Raleway', sans-serif;
	font-weight: 200;
	display: inline-block;
	position: relative;
	top: 0;
	padding: 1.5em .80em 1.5em;
	margin-left: -4px;
	font-size: 1.3em;
    text-align: center;
	width: 5em;
	color: #666;
    background: #f2f2f2;
    transition: all .25s;
    border-left: 1px solid #808080;
}
	
header nav ul li a:hover {
    transition: all .25s;
    color : #4d4d4d;
    background: #e5e5e5;
}
	
header h1 {
	color: rgb(159,159,159);
	font-size: 2.5em;
}

main {
	padding: 1em 2.5em;
	position: relative;
	top: 0; left: inherit;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background: url("../img/creampaper.png") repeat;
	min-height: 15em;
}

footer {
	height: 2em;
	width: 100%;
	font-size: .8em;
	text-align: center;
	padding:  0.5em 0em 1.5em;
	background: url("../img/creampaper.png") repeat;
}