#viewGoals table {
    border-collapse: inherit;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px auto;
    text-align: left;
    width: 90%;
    border-radius: 5px;
    border: 2px ridge #A5ACC6;;
    background: white;
}
#viewGoals table td, #viewGoals table th {
    font-size: 1.5em;
    padding: .25em .25em .25em .4em;
}
#viewGoals table thead th {
    color: #003399;
    font-weight: bold;
}
#viewGoals table tbody td {
    color: #666699;
}
#viewGoals table tbody tr:not(:last-child) td {
    border-bottom: 2px dotted #E8EDFF;
}
#viewGoals table thead tr {
    background: none repeat scroll 0 0 #C9DDED;
}

#viewGoals table tbody tr:nth-child(odd) {
    background: none repeat scroll 0 0 #EFF2FF;
    color: #333399;
    cursor: pointer;
}
#viewGoals table tbody tr:nth-child(odd):hover {
    background: none repeat scroll 0 0 #D8E1FF;
}

#viewGoals table tbody tr:nth-child(even) {
    background: rgb(221,178,234);
    background: rgba(221,178,234,.4);
    display:none;
}